  th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  table.center {
    margin-left: auto; 
    margin-right: auto;
    width: 30%;
    height: 200px;
  }

p{
    text-align: center;
    color: red;
}

a{
    text-align: center;
    font-size: 30px;
}
