{% extends 'base.html' %}

{% block head %}
<title>TTTgame</title>
{% endblock %}

{% block body %}

<div class="content">
    <h1 style="text-align: center;">lets match</h1>

    
    <table class="center">
        <!-- img id coc stands "circle or cross"-->
        <tr>
          <th>
            <img id="coc" src="">
            <button type = "button" onclick ="show(0)" id="A1">click</button>
          </th>
          <th><img src="{{url_for('static', filename= 'Circle.png')}}" height=50 width=50></img></th>
          <th><img src="{{url_for('static', filename= 'Circle.png')}}" height=50 width=50></img></th>
        </tr>
        <tr>
          <th><img src="{{url_for('static', filename= 'Circle.png')}}" height=50 width=50></img></th>
          <th><img src="{{url_for('static', filename= 'Circle.png')}}" height=50 width=50></img></th>
          <th><img src="{{url_for('static', filename= 'Circle.png')}}" height=50 width=50></img></th>
        </tr>
        <tr>
          <th><img src="{{url_for('static', filename= 'Circle.png')}}" height=50 width=50></img></th>
          <th><img src="{{url_for('static', filename= 'Circle.png')}}" height=50 width=50></img></th>
          <th><img src="{{url_for('static', filename= 'Circle.png')}}" height=50 width=50></img></th>
        </tr>
    </table>

        <br>
        <br>
        <a href="/">Back to home page.</a>
        <br>
        <br>

</div>
    <script>
        const buttonID = ["A1","A2","A3","B1","B2","B3","C1","C2","C3"];

        function show(n){
            let image = document.getElementById("coc");
            coc.src = "{{url_for('static', filename= 'Circle.png')}}"
            coc.width = 50
            coc.height = 50
            
            document.getElementById(buttonID[n]).style.display = "none";/*remove button from web*/

            const index =buttonID.indexOf(buttonID[n]); /*remove element from array*/
            if (index > -1){
                buttonID.splice(index, 1);
            }
            
        }
    </script>
   

{% endblock %}